.overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 999; 
}

.content {
    position: relative;
    z-index: 1;
}

.blur {
    filter: blur(5px); 
}

.container{
    margin-top: 150px;
}